
/* Options container */
.custom-options-container {
    font-size: 12px;

}

.custom-options-form {
    background: #fff;
    padding: 15px;
    margin: 15px 10px 15px 0;
}

.custom-options-form > h2 {
    border-bottom: 1px solid #b1b1b1;
    padding: 5px 0;
}

.custom-options-container input,
.custom-options-container textarea {
    width: 100%;
}

.custom-options-container textarea {
    resize: none;
    height: 100px;
}

.custom-options-form .button {
    width: auto;
}
/* End Options container */


/* Dynamic list option */
.list-items .items-container li {
    display: -webkit-flex;
    display: flex;
    align-items: baseline;
}

.list-items .items-container input {
    width: calc(100% - 100px)!important;
}
/* End Dynamic list option */